nav{
    background-color: lightsalmon;
    font-size: 15px;
}

.list{
    background-color: darkseagreen;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    padding: 30px 30px 30px 30px;
    font-style: oblique;
}
p{
    font-size: 17.879456666666666666666666666666666666666599278667854683784949765497696777347566767677769798630679767667676767676767676767px;
}
.Arrivals{
    font-weight: 999;
    text-decoration:blanchedalmond underline wavy;
    margin-top: 3%;
    text-align: center;
    border: 2px solid blanchedalmond;
    padding: 30px 30px;
}
.YT_VID{
    margin-top: 50px;
}